<!DOCTYPE HTML>
<html>
<head>
 <title>You played paper!</title>
  <meta charset="utf-8">
<link rel="stylesheet" href="mystyles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>


  <div class="container">
  <div class="row mb">
    <div class="one-third">
    <a class="button"href="/rock" >
      Play Rock
    </a>
  </div>

  <div class="one-third">
    <a class="button"href="/paper" >
      Play Paper
    </a>
  </div>

  <div class="one-third">
    <a class="button" href="/scissors" >
      Play Scissors
    </a>
  </div>
  </div>
<div class="row mb">
  <div class="player-card" >
  <h2 class="center" >
    <em>We</em><strong> played </strong> paper!
  </h2>
  </div>
   <div class="computer-card" >
   <h2 class ="center"> They played <%= @comp_move %>!</h2>
</div>
</div>

<div class="row-center mb">
  <div class="outcome-card">
  <h2 class= "center"> We <%= @outcome %> ! </h2>
  </div>
</div>

<div class="row-center mb">
  <a href="/">
    Rules
  </a>
  
  </div>
</div>
</div>
</body>



</html>
